TAGS
*.swp
*~
*.o
*.log
*.vcd
*.xml
*.dbg
*.wlf
*.elf
*.hex
*.map
*.out
*.json
*.evcd
*.evcd.fixed
.build-rtl
.lib-rtl
.opt-rtl
/build
/Bender.lock
/Bender.local
lab5/*
lab2/*
lab1/*
.vscode-server/*
.vscode-server-oss/*

.bash_history
.bash_logout
.bash_profile
.bashrc
.emacs
.esd_auth
.led-x3850-3.polito.it_27020.txt
.viminfo
.Xauthority
node
synopsys_cache_M-2016.12/DW01/DW01_NAND2/str/pdt2002_9337/element.ddc

.mozilla/*
.local/*
.dbus/*
.config/*
.cache/*
.byobu/*
riscv_testing_OLD/*